  <style>

    html, body {
      height: 100%;

    }

    .body {
      background-image: url('/assets/background.jpg');
      height: 100%;
      width: 100%;
      background-size: cover;
    }


    .jumbotron {
      opacity: 0.4;
    }

  </style>

  <div class="body">
    <div class="container">
       <div class="jumbotron">
          <h1>Project Manager</h1>
          <p>Simple project managment tool.</p>
          <p><a class="btn btn-primary btn-lg" href="/projects" role="button">Projects</a></p>
        </div>
      </div>
  </div>
