<div class="container">
  <div class="page-header">
    <h1>About<small> & FAQ.</small></h1>
  </div>
</div>





<blockquote>
<p>Welcome to our project managment tool. You will be able to create new projects and assign them tasks which you will be able to prioritize! You will also be able to have discussions for each individual project and comment on each individual discussion! How amazing!</p>
</blockquote>

<div class="panel panel-default">
  <div class="panel-body">
    FAQ: What is a FAQ?
  </div>
  <div class="panel-footer">FAQ stands for frequently asked questions.</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    FAQ: What is the site for? 
  </div>
  <div class="panel-footer">You will see!</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
  FAQ: Who is this site meant for? 
  </div>
  <div class="panel-footer">Everybody. Or nobody... I forget.</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    FAQ: Interesting...
  </div>
  <div class="panel-footer">Is it..?</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    FAQ: Hey, whose the one asking the questions here?
  </div>
  <div class="panel-footer">Technically nobody.</div>
</div>
