<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

  <h1>Comment Created</h1>
  <p>User <%= @comment.user %> posted a comment: </p>
  <br> <%= @comment.created_at.strftime('%m/%d/%Y %I:%M %p') %>
</body>
</html>